
@import url(https://fonts.googleapis.com/css?family=Montserrat);


:root {
    --background-primary: #f5f5f5;
    --color-primary: #222222;
}

body[data-theme='dark'] {
    --background-primary: #222222;
    --color-primary: #f5f5f5;
}

h1, h2, p {
    color: var(--color-primary);
}

.standard-text {
    color: var(--color-primary);
}

.filters-text {
    background: var(--background-primary);
}

body {
    transition: color 300ms, background-color 300ms;
    background: var(--background-primary);
    color: var(--color-primary);
    font-family: montserrat, arial, verdana;
}

.top {
    background-color: rgba(40, 40, 39, 0.8);
    padding: 2px;
    box-shadow: 2px 2px 2px #212324;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #0B68D6;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* COMMENTS */

.hr-comment {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #FFFFFF;
}
.a-comment {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--color-primary);
    text-decoration: none;
    margin: 3px 3px;
}

    background: var(--background-primary);
    color: var(--color-primary);

.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.blog-comment{
    padding-left: 3%;
	padding-right: 3%;
}

.blog-comment ul{
	list-style-type: none;
	padding: 0;
}

.blog-comment img{
	opacity: 1;
	filter: Alpha(opacity=100);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	  	 -o-border-radius: 4px;
			border-radius: 4px;
}

.blog-comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
}

.blog-comment .post-comments {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
	border: 1px solid var(--color-primary);
    margin-bottom: 8px;
    margin-left: 5px;
	margin-right: 0px;
    padding: 10px 10px;
    padding-bottom: 10px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: var(--background-primary);
}

.blog-comment .meta {
	font-size: 13px;
	color: var(--color-primary);
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid var(--color-primary);
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}

.short-content .full-content {
    color: solid var(--color-primary) !important;
}

/* TRUNCATE */
