<div class="spinner-border " role="status" style="margin-left: 300px; display: none;" id="loading">
    <span class="visually-hidden">Loading...</span>
  </div>
<div class="col-md-12">
    <div class="blog-comment p-0">
        <ul class="comments">


            <div class='col-12 py-0'  >
                <h4 class='my-0 py-0 ms-2 'id="results"  ></b></h4>
            </div>

            <!--        POST ITEM -->
            <li class="clearfix" id="postBox">
            </li>

            <!--        COMMENT ITEM -->
            <li class="clearfix" id="commentBox">
            </li>

        </ul>

        <div class="pagination" class="">

            <ul class="pagination ">
                <li class="page-item  ms-xl-5 ms-lg-2 ms-md-3  ms-xxl-5	" >
                    <a type="button" id="first"  style="display: none;"
                        class="btn btn-outline-secondary border-0 btn-sm  "
                        > FIRST</a>
                </li>
                <li class="page-item me-xxl-5  me-xl-5 me-sm-5 me-lg-5 me-md-5 me-2  " >
                    <a type="button" id="previous" style="display: none;"
                        class="btn btn-outline-secondary border-0 btn-sm "
                        >PREVIOUS</a>
                </li>
            
                <li class="page-item ms-4 ms-xl-4  ms-xxl-5 ms-sm-4 ms-lg-1 ms-md-1 me-3 me-lg-2 me-xl-4 me-xxl-5   me-md-4 me-sm-5" >
                    <span class="step-links" style="display:none" id="pagination" >
                    </span>
                </li>
            
                <li class="page-item ms-2 ms-xl-5 ms-xxl-5 ms-lg-5 ms-md-5 ms-sm-5 "  >
                    <a  type="button"  id="next" style="display: none;" 
                        class="btn btn-outline-secondary border-0 btn-sm "
                       >NEXT</a>
                </li>
                <li class="page-item" >
                    <a type="button" id="last" style="display: none;"
                        class="btn btn-outline-secondary border-0 btn-sm  "
                        >LAST </a>
                </li>
            </ul>

        </div>

    </div>
</div>
