{% load class_name %}

<div class="col-md-12">
    <div class="blog-comment p-0">
        <ul class="comments">


            <div class='col-12 py-0'  >
                <h4 class='my-0 py-0 ms-2 'id="results" ></b></h4>
            </div>

            <!--        POST ITEM -->
            <li class="clearfix" id="postBox">
            </li>

            <!--        COMMENT ITEM -->
            <li class="clearfix" id="commentBox">
            </li>

        </ul>
        <div class="pagination" class=" me-5 ms-2">
            
            <ul class="pagination me-5">
                <li class="page-item ">
                    <a type="button" id="first"  style="display: none;"
                        class="btn btn-outline-secondary border-0 btn-sm  "
                        > FIRST</a>
                </li>
                <li class="page-item me-3">
                    <button type="button" id="previous" style="display: none;"
                        class="btn btn-outline-secondary border-0 btn-sm me-5 "
                        >PREVIOUS</button>
                </li>
            </ul>
            <ul class="pagination">
                <li class="page-item ">
                    <span class="step-links" style="display:none" id="pagination">
                    </span>
                </li>
            </ul>
            <ul class="pagination ms-2">
                <li class="page-item ms-5" >
                    <button type="button"  id="next" style="display: none;"
                        class="btn btn-outline-secondary border-0 btn-sm ms-5 "
                       >NEXT</button>
                </li>
                <li class="page-item">
                    <a type="button" id="last" style="display: none;"
                        class="btn btn-outline-secondary border-0 btn-sm  "
                        >LAST </a>
                </li>
            </ul>
            
        </div>

    </div>
</div>
