<form class="form-control mt-2 mb-0 p-0 " id="eiou_claim" 
    style="background-color: transparent!important;border: none!important;"  onkeypress="handle(event)"   >
    <div class="row mb-2">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <span class="input-group-text fs-5" style="width:35%">
                <i class="text-muted fw-bold fas fa-sliders-h mx-2"></i>
                Filters
            </span>
            <label class="btn btn-secondary" id="postValid">
                <input class="align-middle" type="checkbox" id="posts" checked autocomplete="off" name="f" value="p">
                <span class="align-middle"> Posts</span>
            </label>
            <label class="btn btn-secondary" id="commentValid">
                <input class="align-middle" type="checkbox" id="comments" autocomplete="off" name="f" value="c">
                <span class="align-middle">Comments</span>
            </label>
        </div>
        <span id="invalidText1"  class="text-center " style="color: red;  margin-left: 15px; display: none;">
            Please select atleast one checkbox
        </span>
    </div>
    <!--
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-2 text-center">
                <span class="input-group-text" style="width:35%">
                    <span class="text-muted fw-bold"><i class="fas fa-search mx-2"></i></span>
                    <span class="fs-5" >Search</span>
                </span>
                <input type="text" class="form-control" id='search1' name="search"
                       placeholder="keyword">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3 text-center">
                <span class="input-group-text" style="width:35%">
                    <span class="fs-5">Subreddit</span>
                </span>
                <input type="text" class="form-control" id='subreddit' name="subreddit"
                       placeholder="name">
            </div>
        </div>
    </div>

    <button type="submit" class="btn w-100 py-2 btn-sm btn-primary">
        SEARCH <i class="fas fa-search"></i>
    </button> -->
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3 text-center">
                <span class="fs-5 ">
                    <label for="subreddits">
                        <select class="form-select" id="subreddits" form="eiou_claim" name="sub">
                            <option selected value="cryptocurrency">r/CryptoCurrency</option>
                            <option value="anime">r/anime</option>
                            <!-- <option value="2">Two</option>
<option value="3">Three</option> -->
                        </select>
                    </label>
                </span>
                <input type="text" class="form-control" id="search" name="q" placeholder="keyword">
            </div>
        </div>
        <span id="invalidText2" class="text-center " style="color: red; margin-top: -18px; margin-bottom: 5px; margin-left: 15px; display: none;">
            Please enter some Text
        </span>
    </div>
    
    <button type="button" class="btn w-100 py-2 btn-sm btn-primary" onclick="buttonClick()" id="submitButton" onkeypress="handle(event)" >
        SEARCH <i class="fas fa-search"></i>
    </button>
</form>
