{% extends 'base.html' %} {% load static %}

{% block content %}


<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-6 col-md-10 col-sm-12">
            <div class="row d-flex justify-content-end mb-0 mt-1">
                <div class="row mt-1 px-3">
                    <div class="col-8 card-title mb-1 h2">
                        <i class="fab fa-reddit-square fs-1"></i>
                        Reddit search
                        <br />
                        <div class="card-subtitle mt-1">
                            <span class="fs-6">Search and analyse deleted content</span>
                        </div>
                    </div>
                    <div class="col-4 mt-2">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch mx-2" for="checkbox">
                                <input type="checkbox" id="checkbox" />
                                <div class="slider round"></div>
                            </label>
                            <span id='dark-mode'>
                            <i class="fas fa-lightbulb"></i>
                        </span>
                        <span id='light-mode' hidden>
                            <i class="far fa-lightbulb"></i>
                        </span>
                        </div>
                    </div>
                    <hr class="m-0 py-0" />
                </div>
            </div>

            <div class="mt-0 px-1">
                <form method="get" class="form-control"
                              action="" id="eiou_claim"
                              style="background-color: transparent!important;
                              border: none!important;">

                    {% include 'form.html' %}
                </form>
            </div>
            <div class="footer">
                 <hr class="py-0 my-2"/>
                <div class="row justify-content-center">
                    <div class="col-4 footer-text text-center mx-2 text-muted">
                     <a href="/" class="standard-text">
                        ac-search 2021
                     </a>
                    </div>

                    <div class="col-4 footer-text text-center mx-2 text-muted">
                         visit <a href="https://www.reveddit.com/about/" target="_blank" class="standard-text">
                             reveddit.com
                         </a>
                     </div>
                </div>
             </div>
        </div>
    </div>
</div>

<script>

</script>
{% endblock content %}
